@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root,
  .light {
    --background: 220 2% 96%;
    --foreground: 234 16% 35%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 220 2% 96%;
    --popover-foreground: 234 16% 35%;

    --primary: 167 34% 20%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 240 11% 88%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 240 11% 88%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 347 62% 55%;
    --destructive-foreground: 210 40% 98%;

    --warning: 35 77% 49%;
    --warning-foreground: 210 40% 98%;

    --success: 142 49% 44%;
    --success-foreground: 210 40% 98%;

    --border: 220 21% 89%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    --sidebar-background: 225 3% 94%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 11% 88%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 240 11% 88%;
    --sidebar-ring: 217.2 91.2% 59.8%;

    /* Status Colors */
    --green: 109 58% 40%;
    --red: 347 87% 44%;
    --blue: 197 97% 46%;
    --purple: 266 85% 58%;
    --yellow: 35 77% 49%;
    --gray: 220 9% 46%;
    --primary-light: 183 74% 35%;
  }

  .dark {
    --background: 240 21% 12%;
    --foreground: 226 64% 88%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 240 21% 15%;
    --popover-foreground: 226 64% 88%;

    --primary: 167 64% 94%;
    --primary-foreground: 240 23% 9%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 237 16% 23%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 237 16% 23%;
    --accent-foreground: 210 40% 98%;

    --destructive: 343 81% 75%;
    --destructive-foreground: 240 21% 15%;

    --success: 115 54% 76%;
    --success-foreground: 210 40% 98%;

    --warning: 41 86% 83%;
    --warning-foreground: 210 40% 98%;

    --border: 237 16% 23%;
    --input: 217.2 32.6% 17.5%;
    --ring: 217.2 32.6% 17.5%;

    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

    --sidebar-background: 240 23% 9%;
    --sidebar-foreground: 226 64% 88%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 237 17% 20%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 21% 15%;
    --sidebar-ring: 217.2 91.2% 59.8%;

    /* Status Colors - Dark Mode */
    --green: 115 54% 76%;
    --red: 343 81% 75%;
    --blue: 212 96% 78%;
    --purple: 267 84% 81%;
    --yellow: 41 86% 83%;
    --gray: 218 11% 65%;
    --primary-light: 170 57% 73%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground h-full;
  }
  html {
    @apply h-full;
  }
}

@media (prefers-color-scheme: dark) {
  .shiki,
  .shiki span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
    /* Optional, if you also want font styles */
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }
}

/* .app,
::before,
::after {
  @apply border-border;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
} */
